/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  width: 100%;
  background-image: url("../images/fondo-pag-speciali.jpg");
} */
/* header */
.container img{
  margin-bottom: 80px;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
h2 a{
  color: black;
  text-decoration: none;
  margin: 100px;
}
.container-home{
  display: flex;
  justify-content: center;
}
/* main */
.paste img{
  width: 280px;
  margin: 10px;
}
.paste-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paste{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-right: 150px;
}
.paste-container h1{
  margin: 10px;
  color: blue;
}
/* footer */
.container-footer{
  display: flex;
  justify-content: center;
}
.molisana{
  width: 20%;
  text-align: center;
  margin: 100px;
}
.molisana img{
  width: 200px;
}
.pastificio{
  width: 20%;
  text-align: center;
  margin: 100px;
}
.pastificio h2{
  height: 100px;
}
.dachef{
  width: 20%;
  text-align: center;
  margin: 100px;
}
.dachef h2{
height: 100px;
}
.dachef ul li{
  list-style-type: none;
}
.matese{
  display: flex;
  justify-content: center;
  background-image: url("../images/footer-montagne-bottom.jpg");
}
