/* header */
.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
h2 a{
  color: black;
  text-decoration: none;
  margin: 100px;
}
.container-home{
  display: flex;
  justify-content: center;
}
/* footer */
.container-footer{
  display: flex;
  justify-content: center;
}
.molisana{
  width: 20%;
  text-align: center;
  margin: 100px;
}
.molisana img{
  width: 200px;
}
.pastificio{
  width: 20%;
  text-align: center;
  margin: 100px;
}
.pastificio h2{
  height: 100px;
}
.dachef{
  width: 20%;
  text-align: center;
  margin: 100px;
}
.dachef h2{
height: 100px;
}
